.home{

}
    .img{
        border: 1px solid gray;
    }
    .bio{
        border: 1px solid red;
    }
    .artist{
        border: 10px solid yellow;
        width: 95%;
        display: flex;
        flex-direction: column;
        // align-items: baseline;
    }


.title-container{
    background-image: url("../assets/home.png");
    
}

