.home{
    display: flex;
    // flex: 1;
    justify-content: space-around;
    align-items: flex-end;
    // justify-content: center;
    // flex-direction: column;
    // margin: 0 auto;
    width: 48%;
}
    .img{
        border: 10px solid gray;
        // flex: 1;
    }
 .artists-container{
     display:flex;
     margin-top: 20%;
    justify-content: space-between;
 }   
    .bio{
        // flex: 1;
        border: 5px solid red;
        display:flex;
        justify-content: center;
    }
    
    .artist{
        border: 10px solid yellow;
        // flex: 1;
        display:flex;
        // flex-direction:column-reverse;
        // justify-content: ;
        align-items:flex-end ;
        // margin: 0 auto;
        width: 40%;
    //    height: 20%
        // flex-wrap:wrap;
        flex-direction: column;
        align-items: baseline;
        border-radius: 4px;
        img{

        width:300px
    }
}

.title-container{
    background-image: url("../assets/home.png");
    display: flex;
    justify-content: column;
    
}
    .Influential{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 45px;
        width: 40%;
        color: white;
        height: 20%;
    }
   
    .btn{
        // display: flex;
        // justify-content: center;
        // align-items: center;

    }

