header{
    // border: 30px solid pink;
    .center();
    align-items: flex-end;
    height: 150px;
    padding:0px 0px 60px;
    word-spacing: 10px;

    
}

.nav-bar{
    // border: 2px solid limegreen;
    width: 300px;
    font-size: 24px;
    text-align: center;
    
   
    a{
        color: grey;
        text-decoration: none;
        width: 20px;
        
    }
}
.title-container{
    
    // border: 10px solid orange;
    .column();
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    // flex-direction: column;
    
}

// .top-container{
    // border: 20px solid dodgerblue;


